<html {% block html_attribs %}lang="en"{% endblock %}>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118796000-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118796000-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/content/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/content/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/content/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/content/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/content/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/content/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/content/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/content/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/content/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/content/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/content/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/content/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/content/icon/favicon-16x16.png">
    <link rel="manifest" href="/static/content/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/content/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <h1 id="page_title">{{ title }}</h1>

    <div class="modal fade" id="about">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="jumbotron noselect">
              <h3>Live arrival information for London's public transport</h3>
              <hr/>
              <p>Search for any public transport stop in London and see when the next bus, DLR, tube, tram or whatever is due.</p>
              <p class="text-secondary">This site uses the public data feeds of Transport for London but is not affiliated with Transport for London.</p>
              <p>{{ year }} - Attila Mitrocsak </p>
              <p>
                  <a href="mailto:admin@arrivalsoflondon.co.uk">Send feedback</a>
              </p>
              <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#about">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block add_stop %}{% endblock %}

    <div class="body-content">
        <div class="body-content">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block scripts %}
    <script src="/static/scripts/jquery-3.3.1.min.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/common.js"></script>
    <script src="/static/scripts/localstorage.js"></script>
    <script src="/static/scripts/arrivals.js"></script>
    <script src="/static/scripts/add_stop.js"></script>
    {% endblock %}

    <footer>
        <p class="pt-4">
          <button type="button" class="btn btn-small" data-toggle="modal" data-target="#about">About - Feedback</button>
        </p>
    </footer>
</body>
</html>
