<!DOCTYPE html>
<html {% block html_attribs %}lang="en"{% endblock %}>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118796000-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118796000-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple, real-time arrival information for London's public transport, including bus stops, DLR and tube stations" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <h1 id="page_title">Arrivals of London</h1>

    <div class="modal fade" id="about">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="jumbotron noselect">
              <h3>Live arrival information for London's public transport</h3>
              <hr/>
              <p>Search for any public transport stop in London and see when the next bus, DLR, tube, tram or whatever is due.</p>
              <p class="text-secondary">This site uses the public data feeds of Transport for London but is not affiliated with Transport for London.</p>
              <p>{{ year }} - Attila Mitrocsak </p>
              <p>
                  <a href="mailto:admin@arrivalsoflondon.co.uk">Send feedback</a>
              </p>
              <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#about">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block add_stop %}{% endblock %}

    <div class="body-content">
        <div class="body-content">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block scripts %}
    <script src="/static/scripts/jquery-3.3.1.min.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/common.js"></script>
    <script src="/static/scripts/localstorage.js"></script>
    <script src="/static/scripts/arrivals.js"></script>
    <script src="/static/scripts/add_stop.js"></script>
    {% endblock %}

    <footer>
        <p class="pt-4">
          <button type="button" class="btn btn-small" data-toggle="modal" data-target="#about">About - Feedback</button>
        </p>
    </footer>
</body>
</html>
