{% extends "layout.html" %}

{% block content %}

<a href="{{url_for('arrivals')}}">Arrivals</a>


<div class="container container-add-stop">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons">search</i>
                    </span>
                </div>
                <input id="line_search" type="text" class="form-control" placeholder="Search line by name" />
            </div>
            <div class="line-list-container">
                <ul class="list-group line-list" id="line_list">
                    {% for line in lines %}
                    <li class="list-group-item line-list-item" data-naptan-id="{{line.line_id}}" onclick="selectLine(this)">
                        {{line.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons">search</i>
                    </span>
                </div>
                <input id="stop_search" type="text" class="form-control"  placeholder="Search stop by name" />
            </div>
            <div class="stop-list-container">
                <ul class="list-group stop-list" id="stop_list"></ul>
            </div>
            <div>
                <button id="add_stop" type="button" class="btn btn-primary btn-large" disabled onclick="addStop()">Add</button>
            </div>
        </div>
    </div>
        <!--<div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-8"> 
            
            </div>
        </div>-->

</div>

<script src="/static/scripts/add_stop.js"></script>

{% endblock %}
