{% extends "layout.html" %}

{% block content %}

<div class="arrival-card-container">
	<div class="row justify-content-center">
		{% for stop in stops %}
		<div class="col col-lg-4 col-md-6 col-12 arrival-card">
            <div class="card-content">
                <div class="card-content-top">
                        <div class="row align-items-center card-content-top-inner">
                            <div class="col h4 text-center arrival-station">
                                {{stop}}
                            </div>
                        </div>
                </div>
                <div class="card-content-bottom">
                    <table class="arrival-table">
                        <thead class="arrival-table arrival-table-head">
                            <tr>
                                <th class="arrival-header arrival-line">Line</th>
                                <th class="arrival-header arrival-towards">Towards</th>
                                <th class="arrival-header arrival-expected"></th>
                            </tr>
                        </thead>
                        <tbody class="arrival-table arrival-table-body">
                            {% for arrival in stops[stop] %}
                            <tr>
                                <td class="arrival-data arrival-line">{{arrival.line.name}}</td>
                                <td class="arrival-data arrival-towards">{{arrival.towards}}</td>
                                <td class="arrival-data arrival-expected">{{arrival.expected_in_minutes()}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
