{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div>
        <h2>Acton Town</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Towards</th>
                    <th>Expected</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Uxbridge</td>
                    <td>1 min</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Uxbridge</td>
                    <td>2 min</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Uxbridge</td>
                    <td>5 min</td>
                </tr>
            </tbody>
        </table>


    </div>

</div>

{% endblock %}
