<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <h1>London Arrivals</h1>

    <div class="body-content">
        {% block content %}{% endblock %}
        <!--hr />
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer-->
    </div>

    <script src="/static/scripts/jquery-3.3.1.min.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/common.js"></script>
    <script src="/static/scripts/cookies.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
