body {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
}

#page_title {
  text-align: center;
  margin-bottom: 30px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

div.arrival-card {
    height: 20em;
    padding-right: 10px;
    padding-left: 10px;
}

.add_card{
  animation-duration: 0.5s;
  animation-name: addCard;
}

@keyframes addCard {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  70% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.remove-card {
    animation-duration: 0.5s;
    animation-name: removeCard;
    animation-timing-function: ease-in;
}


@keyframes removeCard {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}



div.card-content {
    height: 90%;
    border-radius: 15px;
    background-color: #395a71;
    color: white;
    align-content: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.42), 0 2px 4px rgba(0,0,0, 0.64);
}

#add_arrival_card {
    height: 20em;
    padding-right: 10px;
    padding-left: 10px;
}

#add_button {
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#add_button > span {
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 0;
  background-color: inherit;

}

#add_icon {
  font-size: 15em;
  align-self: center;
  text-transform: center;
}

div.add-card-content {
    height: 90%;
    border-radius: 15px;
    background-color: #dddddd;
    color: #aaaaaa;
    justify-content: center;
}



div.card-content-top {
    height: 35%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #1a2832;
}

div.card-content-bottom {
    height: 65%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: #547fa0;
}

.card-content-top-inner {
    height: 100%;
    margin-top: -48px;
}

.arrival-station {
    font-weight: bolder;
    font-variant: small-caps;
}

.arrival-table {
    /*border: 1px solid #b94a48;*/
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 13pt;
    line-height: 1.3;
}

.arrival-header {
    align-content: center;

}

.arrival-line,
.arrival-towards
{
  text-align: left;
  /* width: 35% */
}

.arrival-expected {
    width: 5%;
    text-align: right;
}



.indicator {
    background-color: #ce2020;
    display: inline-block;
    align-self: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    line-height: 42px;
    text-align: center;
    color: white;
    position: relative;
    top: -24px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.42), 0 2px 4px rgba(0,0,0, 0.64);
}

.indicator-letter {
  height: 100%;
  display: flex;
  font-size: 24px;
  font-weight: bolder;
  justify-content: center;
}

/****************/
/* Add new stop */
/****************/

#stop_add_panel {
}

#add_stop_form {
    position: relative;
    overflow: hidden;
    height: 80vh;
}


#stop_select_page {
    top: 0px;
    left: 0px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    overflow-x: scroll;
}

.selector-content {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}
.selector-content > h4 {
  padding: 1.5rem;
}


.stop-list {
    border: 1px solid #999999;
    height: inherit;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.red-border {
    border: 1px solid #ff0000;
}

.full-width {
    width: 100%;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


/* Loader */
.loader {
  display: inline-block;
  border: 16px solid #395a71;
  border-radius: 50%;
  border-top: 16px solid #547fa0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
