body {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

div.arrival-card {
    height: 40%;
    padding-right: 10px;
    padding-left: 10px;
}

div.card-content {
    height: 90%;
    border-radius: 15px;
    background-color: #395a71;
    color: white;
}


div.card-content-top {
    height: 35%;
    align-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #1a2832;
}

div.card-content-bottom {
    height: 65%;
    align-content: center;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: #547fa0;
}

.card-content-top-inner {
    height: 100%;
}

.arrival-station {
    font-weight: bold;
    font-variant: small-caps;
}

.arrival-table {
    /*border: 1px solid #b94a48;*/
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: large;
}

.arrival-header {
    align-content: center;

}

.arrival-line {
    width: 35%
}

.arrival-expected {
    width: 5%;
    text-align: right;
}



.indicator {
    background-color: #ce2020;
    display: inline-block;
    align-self: center;
    width: 48px;
    height: 48px;
    line-height: 42px;
    text-align: center;
    color: white;
    position: relative;
    top: -40px;
    margin-bottom: -40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.42), 0 2px 4px rgba(0,0,0, 0.64);
}

/****************/
/* Add new stop */
/****************/

#stop_add_panel {
}

#add_stop_form {
    position: relative;
    overflow: hidden;
    height: 80vh;
}

#line_select_page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

#stop_select_page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

.selector-content {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}
.selector-content > h4 {
  padding-top: 1.5rem;
}

.line-selector {
}

.line-list-container, .stop-list-container {
  height: 65vh;
}

.line-list, .stop-list {
    border: 1px solid #999999;
    height: inherit;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.line-list-item {
}

.stop-selector {
}

.red-border {
    border: 1px solid #ff0000;
}

.full-width {
    width: 100%;
}

.slide_animation_base,
.line-list-out,
.line-list-in,
.stop-list-out,
.stop-list-in {
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}



.line-list-out {
    /*position: relative;*/
    animation-name: line-list-out;
}


.line-list-in {
    /*position: relative;*/
    animation-name: line-list-out;
    animation-direction: reverse;
}

@keyframes line-list-out {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

.stop-list-in {
    /*position: relative;*/
    animation-name: stop-list-in;
}

.stop-list-out {
    /*position: relative;*/
    animation-name: stop-list-in;
    animation-direction: reverse;
}

@keyframes stop-list-in {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}
